body {
  background-color: #dfddc7;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
 line-height: 2;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  padding-bottom: 100px;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
}

.profileText {
  color: #40514E;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 75px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.codePic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cameraPic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  color: #11999E;
}

.footer-link {
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
}

.footer-link:hover {
  color: #EAF6F6;
}

.icon {
  font-size: 80%;
}
.icon-attribute {
  text-decoration: none;
  color: #11999E;
}

.copyRight {
  color: #EAF6F6;
  font-size: 0.75em;
  margin-top: 50px;
}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Merriweather', serif;
	font-size:20px;
	font-weight:bold;
  margin-top: 50px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
